BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
ColumnLimit: 130
